#content{
    text-align: left;

    width: 90%;

    position: relative;
    left:10.1%;

    border: #FBF9E2;
    border-style: solid;
    border-width: 1px;

    background-color: #FBF9E2;
}

#menu{
    width: 10%;

    float: left;

    border: #E6E6FA;
    border-style: solid;
    border-width: 1px;

    background-color: #E6E6FA;
}

#login{
    width: 99%;
    float: right;
}

#post{
    margin-top: 5px;

    border: #E6E6FA;
    border-style: solid;
    border-width: 1px;
}

#headpost{
    background-color: #E6E6FA;
}

#date{
    position: relative;
    float:right;
    text-align: right;
}

#adminlogin{
    position: relative;
    float:right;
    text-align: right;
}
